---
const socialLinks = {
  Instagram: "myadvoorg",
  LinkedIn: "company/advocacy-resources/",
  TikTok: ""
};

// get the current year
const currentYear = new Date().getFullYear();
---
<footer class="p-12">
    <div class="flex flex-col lg:flex-row justify-between px-12">
        <div class="flex flex-col lg:flex-row text-left mb-4 lg:mb-0 space-y-2 lg:space-y-0 lg:space-x-4">
            <p>Privacy Policy</p>
            <p>Terms of Use</p>
            <p>About Us</p>
            <p>Contact</p>
        </div>
        <div class="flex flex-col lg:flex-row text-left mb-4 lg:mb-0 space-y-2 lg:space-y-0 lg:space-x-4">
            {Object.entries(socialLinks).map(([platform, username]) => (
              <a href={`https://www.${platform.toLowerCase()}.com/${username}`}>
                {platform}
              </a>
            ))}
        </div>
        <div class="text-left">
            All Rights Reserved &copy; {currentYear}
        </div>
    </div>
</footer>
