---

---

<footer>
    <div class="row">
        <div class="column align-left">
            <p>Privacy Policy</p>
            <p>Terms of Use</p>
            <p>About Us</p>
            <p>Contact</p>
        </div>
        <div class="column align-center">
            <a>Instagram</a>
            <a>LinkedIn</a>
            <a>TikTok</a>
            
        </div>
        <div class="column align-right">All Right Reserved &copy2024</div>
    </div>
</footer>

<style>
    footer {
        padding: 3rem;
        
    }
    p, a {
        display: inline;
        margin-right: 2rem;
        
    
    }
    .column {
        float: left;
        width: 33.33%;
        
        
    }
    .align-left {
        text-align: left;
    }
    .align-center {
        text-align: center;
    }
    .align-right {
        text-align:right;
    }
    .row {
        padding: 0rem 4rem;
        
    }
</style>
