---
import AdvoButton from "./AdvoButton.astro"
---

<form class="flex flex-col w-full items-center mt-4" action="/submit" method="post">
    <div class="dropdown-container flex flex-col w-11/12 space-y-4 md:flex-row md:space-y-0 md:space-x-4 md:w-8/12">
        <select class="p-4 w-full md:w-1/5" id="dropdown1" name="options1">
            <option value="option1">Age Range</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
        <select class="p-4 w-full md:w-1/5" id="dropdown2" name="options2">
            <option value="option1">Zip Code</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
        <select class="p-4 w-full md:w-1/5" id="dropdown3" name="options3">
            <option value="option1">Social Health</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
        <select class="p-4 w-full md:w-1/5" id="dropdown4" name="options4">
            <option value="option1">Mental Health</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
        <select class="p-4 w-full md:w-1/5" id="dropdown5" name="options5">
            <option value="option1">Physical Health</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
    </div>
    <br /><br />
    <AdvoButton label="GET STARTED" size="lg" type="submit" />
</form>

