---
import type  doc  from "firebase/firestore";
import { fetchData } from "../utils/fetchData";


const data = await fetchData("resources");
---

    <div class="container rounded-2xl bg-gray-300 mx-auto w-1/4 m-4 p-4">
      <ul>
        {data.map(doc => (
          <li class="py-2">{doc.resourceName}</li>
          <li class="py-2">{doc.phone}</li>
          <li class="py-2">{doc.contactEmail}</li>
          <li class="py-2">{doc.url}</li>


        ))}
      </ul>
    </div>