---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import MainSearchForm from "../components/MainSearchForm.astro";
---

<Layout title="My Advo">
	<main class="bg-gray-300 min-h-screen">
		<Navbar />
		<MainSearchForm />
		<h1 class="text-6xl text-center">My Advo</h1>
	</main>
</Layout>
