---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import MainSearchForm from "../components/MainSearchForm.astro";
---

<Layout title="My Advo">
	<main class="bg-gray-300 min-h-screen">
		<Navbar />
		<h1 class="text-6xl mt-8 pl-4 font-bold md:text-center">Queer Youth Resources</h1>
		<p class="text-lg pl-4 md:text-center">Find resources for queer youth in your area</p>
		<MainSearchForm />
	</main>
</Layout>
